.btnSide{
    -fx-background-color:  #1E4263;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.btnSide:hover{
    -fx-background-color: #2b5880;
}

#homeCard {
    -fx-border-color: rgba(0, 0, 0, 0);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-background-color: white;
}

.btnNav{
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 0 0 60;
    -fx-background-color: #9EC3FF;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.btnNav:hover{
    -fx-background-color: #8FA9DB;
}

#btnLogout{
    -fx-background-color: #f83b38;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-padding: 5px 5px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

#btnLogout:hover {
    -fx-background-color: #fb2f2c;  /* Darker Red */
}